{% extends "base.html" %}

{% block title %}Framed Fountain Viewer - Books{% endblock %}

{% block content %}
<h1>Available Books</h1>

{% if books %}
    <ul class="book-list">
    {% for book in books %}
        <li>
            <a href="/books/{{ book.level }}/{{ book.book }}">
                {{ book.title }}
            </a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No books found. Make sure you have books in the format: books/$LEVEL/$BOOK/script.fountain.framed</p>
{% endif %}
{% endblock %}

